html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}
#jetdogsApp{
  background: #0c0221;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../img/bg.png) no-repeat;

  background-size: 100%;
  background-position: top;
  font-size: 12px;
  overflow: hidden;
}

#wrap{
  background: #000;
}
body{
    min-width: 0;
    margin: 0;
}
.betawrapper {
    margin-bottom: -70px;
    .beta{
        width: 100% !important;
         background-position: top;
         background-size: 100%;
         background-repeat: no-repeat;
         background: #0c0221;
         color: #fff;
        &:after{
        }
    }
    .outerContainerNoAds{
      //page bg here--
       //Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6206c9+0,240142+100
      background: #6206c9; /* Old browsers */
      background: -moz-linear-gradient(top,  #6206c9 0%, #240142 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #6206c9 0%,#240142 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #6206c9 0%,#240142 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6206c9', endColorstr='#240142',GradientType=0 ); /* IE6-9 */

    }
}

.container{
  color: #fff;
  .page-title{
    background: url(../img/header.png) no-repeat;
    background-position: center;
    height:89px;
    position: relative;
    background-size: contain;
    margin-top: 5px;
  }

  .featured,
  .game-tiles{
    &.mustPlayGames{
      background: rgb(240, 207, 12);
      border-radius: 5px;
      padding: 10px 0 0;
    }
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
  }
  h2.featuredHeader, h2.gameSecHeader{
    font-weight: 700;
    font-size: 1.667em;
    color: #fff;
    background-size: cover;
    box-sizing: border-box;
    padding:0 10px;
    position: relative;
  }

  .lpNav{
    ul {
        list-style: none outside none;
        padding-left: 0;
      }
    h3{
      font-size: 1.125rem;
      font-weight: 500;
      color:#fff;
    }
    li{
      &:first-child{
        button{
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            border: 1px solid #979ba2;

        }
      }
      button{
          cursor: pointer;
          font-size: 1.25em;
          color: #fff;
          -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
          display: block;
          padding: 15px 12px;
          border: 1px solid #979ba2;
          border-top: none;
          background-color: #612db8;
          line-height: 100%;
          width: 100%;
          text-align: left;
          &:hover{
            color:#27143e;
            background: rgba(167, 171, 182, .8);
          }
          &:focus {
            outline:0;
          }
      }
       &:last-child{
        button{
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
          border: 1px solid #979ba2;
          border-top: none;
        }
       }
    }
  }

  nav.sortNav{
    display: none;
    .alphaList{
        color: #fff;
        font-size: 1.25em;
        a{
            display: none;
            color: #fff;
            text-decoration:none;
            width: 16px;
            margin-top: 8px;
            text-align: center;
            &:last-of-type{
                width:20px;
            }
            &:hover, &.selected{
              font-weight: bold;
            }
            &.dissabled{
                color:#666;
                cursor: default;
                &:hover{
                    font-weight: normal;
                }
            }
        }
    }
    span{
        color:#fff;
        color: #fff;
        padding: 9px 0px;
        font-size: 1.25em;
        box-sizing: border-box;
    }
    select{
        border: 1px solid #a8aaad;
        border-radius: 5px;
        padding: 9px 0px;
        font-size: 1.25em;
        background: #687184;
        color: #fff;
        margin: 0;
    }
    select:active,
    select:focus,
    select:active option,
    select:focus option{
        outline: none;
    }
    select option{
        border: 1px solid #a8aaad;
    }
  }
}


img.featuredbigIcon, img.bigIcon {
    width: 100%;
}
.scrollSpacer{
  height: 10px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    .lpNav{
      li{
        a{
          font-size: 1em;
        }
      }
    }
    nav.sortNav{
      .alphaList {
        margin-bottom: 10px;
      }
    }
    .page-title{
      height: 67px;
    }
    div.wrapperElement,
    div.featuredElement {
      margin:0 15px 15px;
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    .lpNav{
      li{
        a{
          font-size: 1.25em;
        }
      }
    }
    nav.sortNav{
      .alphaList {
        margin-bottom: 0;
      }
    }
    .page-title{
      height:89px;
      &:before{
        display: none;
      }
    }
    nav.sortNav{
      .alphaList{
        a{
          width: 9px;
          font-size: .875rem;
        }
      }
      span, select{
        font-size: 1em;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    .lpNav{
    }
    nav.sortNav{
      .alphaList{
        a{
          width: 14px;
        }
      }
      span, select{
        font-size: 1.15em;
      }
    }
    .page-title{
      height:100px;
    }
    div.wrapperElement,
    div.featuredElement {
      margin:0 12px 15px;
    }
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
  .container {
      .lpNav{
      }
      nav.sortNav{
        span, select{
          font-size: 1.25em;
        }
      }
      .page-title{
      }
      div.wrapperElement,
      div.featuredElement {
        margin:0 14px 15px;
      }
  }
}
