$tileBG: #fff;

div.wrapperElement p,
div.wrapperElement > a {
  margin: 5px 10px;
  font-size: .975em;
  text-align: left;
  line-height: 1.125em;
}

  div.wrapperElement p.gameTitle{
    min-height: 46px;
    height: 46px;
    font-weight: normal;
    margin-bottom: 6px;
    overflow: hidden;
    font-size: 1.125em;
    color: #333;
    text-align: left;
  }
  .featuredTheme, .genre{
    color:#939090;
    min-height: 13px;
  }

  p.gamePrice{
    color: #333;
    min-height: 13px;
    font-weight: 700;

    span{
      font-size: 1.25em;
      &:after{
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-left: 4px;
        vertical-align: bottom;
        background-image: url('https://webassets.wildtangent.com/css/img/wildcoin_xsm.png');
      }
    }

    span.strikeThrough{
        text-decoration: line-through;
        color:#666;
    }
    span.salePrice{
      color:#c92e2a;
    }
    span.wildcoin-price{
      color:#4f1ac4;
      margin-left: 10px;
    }
  }


  div.wrapperElement > a{
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    padding:6px 10px 6px;
    text-align: center;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    display: block;
    font-size: 1.15em;
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;;
}
a.cta{
    background:#2359bc;
    &:hover{
      text-decoration: none;
        background:#3971db;
    }
}
div.wrapperElement{
  display: none;
  background: $tileBG;
  padding: 0 0 8px;
  margin:0 15px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease;
  &.active{
    display: block;
  }
}
